# Compiled output
/dist
/build

# Dependency directories
/node_modules
/jspm_packages
/bower_components
/web_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test output
/coverage
/.nyc_output
*.lcov

# IDEs and editors
/.idea
.project
.classpath
.c9/
/*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test

# TypeScript
*.tsbuildinfo

# ESLint and Stylelint
.eslintcache
.stylelintcache

# Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# npm and yarn
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.pnp.*

# REPL
.node_repl_history

# npm pack output
*.tgz

# Build tools and caches
.grunt
.lock-wscript
build/Release
.lib-cov
.cache
.parcel-cache

# Framework outputs
.next
out
.nuxt
.vuepress/dist
.docusaurus
.serverless
.fusebox

# Temporary and misc
.temp
.tmp
.dynamodb/
.tern-port

# Gatsby
.cache/
# public  # Descomente se usar Gatsby

# Arquivos de anotações locais
_notes.txt
_notes.md
_list-exceptions.txt
_conventions.txt
